/node_modules
/public/hot
/public/storage
/public/pma
/public/pma/
/public/extracted_images/
/storage/*.key
/vendor
/temp
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/~/
~/.vscode-root/
/public/bulkcv/*
